/* GLOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
html, body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
}


/* CAROUSEL  */


/* INTRODUCE  */


/* CATEGORIES  */


/* DESCRIPTION  */


/* DELICIOUSNESS  */


/* NUMBER  */


/* VIDEO  */


/* BLOG POST  */


/* TESTIMONIALS  */


/* FOOTER   */